$primary-color: #292929;
$background-color: #ffffff;

/*** Button ***/
$ninja-btn-primary: $primary-color;
$ninja-btn-facebook: #3B5998;
$ninja-btn-google: #d34836;

/*** Homepage ***/
$title-color: $primary-color;
$cookiebar-color: $primary-color;