<template name="datavizualisation">
  <head>
    <title style="text-transform:uppercase;">Facebook Api</title>
  </head>
    <div class="connect-wrapper full-height full-width">

      <!-- Container -->
      <div class="animated fadeInLeft connect-container full-width full-height align">
          <!-- Module Connect -->
          <svg width="960" height="960" font-family="sans-serif" font-size="10" text-anchor="middle"></svg>

      </div>
      <!-- Cookie -->
      <div class="cookie-bar">
          En poursuivant votre navigation sur Ninja, vous acceptez l'utilisation de cookies dans le but de vous offrir l'expérience de navigation la plus optimale.
      </div>
    </div>

</template>
