<template name="graph4">
  <div style="display: flex; align-items: center; justify-content: center;">Total des tweets sur 100 tweets : <div style="font-size: 30px; font-weight: 600; margin-left: 10px;" id="len"></div></div>

  <canvas id="graph4chart"></canvas>

  <div class="text-center">
    <button class="btn ninja-btn ninja-btn-primary btn-margin copy-iframe btn-copy">
        <span class="ninja-btn-span firstspan">Copier l'iframe</span>
        <span class="ninja-btn-span secondspan">Copier l'iframe</span>
    </button>
    <button class="btn ninja-btn ninja-btn-primary btn-margin back-to-menu">
        <span class="ninja-btn-span firstspan">Retour</span>
        <span class="ninja-btn-span secondspan">Retour</span>
    </button>
  </div>
</template>
