<template name="graph2">
  <canvas id="graph2chart"></canvas>

  <div class="text-center">
    <button class="btn ninja-btn ninja-btn-primary btn-margin copy-iframe btn-copy">
        <span class="ninja-btn-span firstspan">Copier l'iframe</span>
        <span class="ninja-btn-span secondspan">Copier l'iframe</span>
    </button>
    <button class="btn ninja-btn ninja-btn-primary btn-margin back-to-menu">
        <span class="ninja-btn-span firstspan">Retour</span>
        <span class="ninja-btn-span secondspan">Retour</span>
    </button>
  </div>
</template>
