<head>
  <title style="text-transform:uppercase;">NoSQL et Développement Big Data</title>
</head>

<template name="home">

  <div class="connect-wrapper full-height full-width">

    <!-- Container -->

        {{#if isHomeSelect}}
            <div class="full-width full-height align text-center">
                <div class="col-md-12">
                    {{> homeSelect}}
                </div>
            </div>
        {{/if}}


        {{#if isGraph1}}
            <div class="animated fadeInLeft connect-container full-width full-height align">
                <div class="connect col-md-8">
                    {{> graph1}}
                </div>
            </div>
        {{/if}}

        {{#if isGraph2}}
            <div class="animated fadeInLeft connect-container full-width full-height align">
                <div class="connect col-md-8">
                    {{> graph2}}
                </div>
            </div>
        {{/if}}

        {{#if isGraph3}}
            <div class="animated fadeInLeft connect-container full-width full-height align">
                <div class="connect col-md-8">
                    {{> graph3}}
                </div>
            </div>
        {{/if}}

        {{#if isGraph4}}
            <div class="animated fadeInLeft connect-container full-width full-height align">
                <div class="connect col-md-8">
                    {{> graph4}}
                </div>
            </div>
        {{/if}}

        {{#if isGraph5}}
            <div class="animated fadeInLeft connect-container full-width full-height align">
                <div class="connect col-md-8">
                    {{> graph5}}
                </div>
            </div>
        {{/if}}

        {{#if isMenu}}
            <div class="animated fadeInLeft connect-container full-width full-height align">
                <div class="connect col-md-8">
                    {{>menu}}
                </div>
            </div>
        {{/if}}

    <!-- Cookie -->
    <div class="cookie-bar">
        En poursuivant votre navigation sur Ninja, vous acceptez l'utilisation de cookies dans le but de vous offrir l'expérience de navigation la plus optimale.
    </div>
  </div>
</template>
