<template name="menu">
  <div class="col-md-6">

              <!-- Header -->
              <span class="title">
                  DataVizualisation
              </span>

              <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </span>
          </div>

          <div class="col-md-6">
              <!-- Graph 1 Link -->
              <button class="btn ninja-btn ninja-btn-primary btn-margin full-width" id="linkto-graph-1">
                    <span class="ninja-btn-span firstspan">Graph 1</span>
                    <span class="ninja-btn-span secondspan">Graph 1</span>
              </button>

              <!-- Graph 2 Link -->
              <button class="btn ninja-btn ninja-btn-primary btn-margin full-width" id="linkto-graph-2">
                    <span class="ninja-btn-span firstspan">Graph 2</span>
                    <span class="ninja-btn-span secondspan">Graph 2</span>
              </button>

              <!-- Graph 3 Link -->
              <button class="btn ninja-btn ninja-btn-primary btn-margin full-width" id="linkto-graph-3">
                    <span class="ninja-btn-span firstspan">Graph 3</span>
                    <span class="ninja-btn-span secondspan">Graph 3</span>
              </button>

              <!-- Graph 4 Link -->
              <button class="btn ninja-btn ninja-btn-primary btn-margin full-width" id="linkto-graph-4">
                    <span class="ninja-btn-span firstspan">Graph 4</span>
                    <span class="ninja-btn-span secondspan">Graph 4</span>
              </button>

              <!-- Graph 5 Link -->
              <button class="btn ninja-btn ninja-btn-primary btn-margin full-width" id="linkto-graph-5">
                    <span class="ninja-btn-span firstspan">Graph 5</span>
                    <span class="ninja-btn-span secondspan">Graph 5</span>
              </button>
          </div>
</template>
