<template name="menu">
  <div>
    <div class="col-md-6">
        <!-- Header -->
        <span class="title" style="font-size: 35px; margin-top: 5px;">
          NoSQL et Big Data
        </span>

        <span>
          <span style="margin: 15px 0; display: block; font-size: 14px; text-transform: initial;">Projet réalisé au sein du cours de NoSQL et Développement Big Data. La récupération de données twitter et l'analyse des datas en les affichants grâce à des graphiques.</span>

          <span style="margin: 15px 0; display: block; font-size: 14px; text-transform: initial;">Liens :</span>
          <a style="display: block; text-transform: lowercase; font-size: 14px;" href="http://developer.twitter.com/en/docs.html">developer.twitter.com/en/docs.html</a>
          <a style="display: block; text-transform: lowercase; font-size: 14px;" href="http://www.esgi.fr/ecole-informatique.html">www.esgi.fr</a>
        </span>
    </div>

    <div class="col-md-6">
        <!-- Graph 1 Link -->
        <button class="btn ninja-btn ninja-btn-primary btn-margin full-width" id="linkto-graph-1">
              <span class="ninja-btn-span firstspan">Nombre de retweet</span>
              <span class="ninja-btn-span secondspan">Nombre de retweet</span>
        </button>

        <!-- Graph 2 Link -->
        <button class="btn ninja-btn ninja-btn-primary btn-margin full-width" id="linkto-graph-2">
              <span class="ninja-btn-span firstspan">Les pays des utilisateurs</span>
              <span class="ninja-btn-span secondspan">Les pays des utilisateurs</span>
        </button>

        <!-- Graph 4 Link -->
        <!-- <button class="btn ninja-btn ninja-btn-primary btn-margin full-width" id="linkto-graph-4">
          <span class="ninja-btn-span firstspan">Les différents secteur</span>
          <span class="ninja-btn-span secondspan">Les différents secteur</span>
        </button> -->

        <!-- Graph 3 Link -->
        <button class="btn ninja-btn ninja-btn-primary btn-margin full-width" id="linkto-graph-3">
              <span class="ninja-btn-span firstspan">Nombre de mise en favoris</span>
              <span class="ninja-btn-span secondspan">Nombre de mise en favoris</span>
        </button>

        <!-- Graph 5 Link -->
        <button class="btn ninja-btn ninja-btn-primary btn-margin full-width" id="linkto-graph-5">
              <span class="ninja-btn-span firstspan">Les visiteurs du site</span>
              <span class="ninja-btn-span secondspan">Les visiteurs du site</span>
        </button>
    </div>
  </div>
</template>
