body{
  font-family : "Arial";
  height:100%;
  width:100%;
  margin:0;
  background-color: $background-color;
  font-size:10px;
  text-transform:uppercase;
}

html{
  height:100%;
  width:100%;
}

a{
  &:hover{
    color: $ninja-btn-google;
  }
}
